body {
    background: #f1f1f1;
    text-align: center;
}

.etchGrid {
    border: 1px solid black;
    /*padding: 3px;*/   
    width: 23px;
    height: 23px;
    display: inline-block;
    margin-bottom: -5px;
}

#nappi {
    padding-bottom: 25px;
}

#etch {
    float: both;
    margin: auto;
    /*padding-top: 25px;*/
    width: 400px;
    height: 400px;
    border: 2px solid black;
}

.paint {
    background-color: orange;
}